---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Rachel Weiss" description="About Rachel Weiss Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="My Design Journey"
				tagline="Thanks for stopping by! Learn more about my design journey bellow…"
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.png"
					alt="Rachel Weiss at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Design Roots</h2>
				<div class="content">
					<p>
						My journey into design began at just 10 years old, critiquing my dad's and brother's iOS applications and websites. This early exposure ignited a passion for visual storytelling that has driven me ever since. Over the years, I've developed expertise in branding, digital design, and illustration, with a particular love for the art of color and compelling typography. Proficient in Adobe suite & Canva, I blend creativity with technical skill to craft designs that inspire and captivate. Whether working independently or collaborating with others, my goal is to transform ideas into visually engaging and impactful creations that leave a lasting impression.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title"></h2>
				<img
					width="1553"
					height="873"
					src="/assets/drawing.jpg"
					alt="Image of Rachel's Shadow on a paper"
				/>
			</section>
			<section>
				<h2 class="section-title">Artful Growth</h2>
				<div class="content">
					<p>My journey into art has always been fueled by curiosity & resourcefulness. As a child and youth, I was often drawing, making collages, color-coordinating my clothing and organizing anything I could get my hands on. This early passion for aesthetics and structure laid the groundwork for my artistic journey. In high school, I discovered photography, where I learned the transformative power of angle, light, and pose in storytelling. Around the same time, I took an art class and fell completely in love with charcoal—its limitless ability to convey depth and emotion captivated me.</p>
					<p>In college, my understanding of art has expanded immensely. Taking art history courses has given me invaluable context for why art evolves the way it does, introducing me to the techniques, artists, and iconography that have shaped creative expression throughout history. I've grown to love studying art history and weaving its lessons into my own designs. Whether it's exploring the emotional impact of color, the dynamic energy of shape, or the symbolism embedded in visual elements, I draw inspiration from the past to inform and elevate my work today.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Student at Brigham Young University Idaho - Studying Graphic Design with an emphasis in UI/UX</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>Adobe Illustrator, Photoshop, & InDesign. Canva, Excell, Docs and learning Figma</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
