---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="color-wheel" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Color Enthusiast</h2>
		<p>I am passionate about the emotion of color! It is a great tool to incorporate in all designs and art along with line, shapes and textures. I love to make graphics that are interactive and also motivational, effective and beautiful </p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Avid Learner</h2>
		<p>I am new but I LOVE to learn! I was homeschooled up until high school, which fostered in me a lot of curiosity. I love to learn and grow!</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Solution Minded</h2>
		<p>I am good at finding problems. But I am even better at finding solutions. Options on options and ideas! If you need someone to brainstorm solutions, I'm your girl!</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
